*,
::after,
::before {
  box-sizing: border-box !important;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  font-size: 18px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2196f3;
}

p {
  padding: 0.25rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eeeeee;
}

li:last-child {
  border: none;
}
